body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center fixed;
    min-height: 100vh;
}
.desktop {
    display: flex;
    flex-wrap: nowrap;
}
.desktop-info {
    display: flex;
    flex-wrap: nowrap;
}
.container-fluid {
    padding: 0;
}
div.desktop:before {
    content: '';
    display: block;
    background-color: #EBBA4A;
    opacity: 77%;
    width: 14%;
    flex: 1 1 20%;
}
div.desktop:after {
    content: '';
    display: block;
    background-color: #E3634D;
    opacity: 77%;
    width: 14%;
    flex: 1 1 20%;
}
div.browser-info {
    background-color: dimgray;
    color: white;
    text-align: left;
    padding: 40px 150px 40px 150px;
}
div.desktop-info:before {
    content: '';
    display: block;
    background-color: dimgray;
    width: 20%;
    flex: 1 1 24%
}
div.desktop-info:after {
    content: '';
    display: block;
    background-color: dimgray;
    width: 20%;
    flex: 1 1 24%
}
.grid-column {
    width: 20%;
    height: 130px;
    flex: 1 1 20%;
    opacity: .77;
    padding: 0px;
}
.browsers {
    height: 400px;
    width: 20%;
    flex: 1 1 20%;
    opacity: .77;
    text-align: center;
    padding: 50px 15px 50px 15px;

    /* padding-top: 400px; */
}
.chrome {
    background-color: #EBBA4A;
}
.firefox {
    background-color: #E8A03E;
}
.edge {
    background-color: #5AC6FA;
}
.safari {
    background-color: #459CE3;
}
.opera {
    background-color: #E3634D;
}
.browser-icon {
    fill: white;
    width: 100px;
    height: 100px;
}
.browser-name {
    color: white;
}
.download-content {
    text-align: center;
}
.title-info {
    font-size: 16pt;
    font-weight: bold;
}
.msg-info {
    font-size: 10pt;
}
.button-info {
    font-size: 8pt;
    font-weight: bold;
    width: 35%;
}


/*  
    reponsive
*/

.browser-info-responsive {
    background-color: dimgray;
    color: white;
    /* padding: 15px; */
}
.browser-icon-mobile {
    fill: white;
    width: 100px;
    height: 100px;
    padding: 20px;
}
.chrome-mobile {
    background-color: #EBBA4A;
    opacity: .77;
}
.firefox-mobile {
    background-color: #E8A03E;
    opacity: .77;
}
.edge-mobile {
    background-color: #5AC6FA;
    opacity: .77;
}
.safari-mobile {
    background-color: #459CE3;
    opacity: .77;
}
.opera-mobile {
    background-color: #E3634D;
    opacity: .77;
}
.browser-info-title-mobile-col {
    width: 70%;
    padding: 15px 0px 20px 0px;
}
.browser-icon-mobile-col {
    width: 30%;
    padding-right: 0;
}
.browser-name-mobile-col {
    padding: 25px 10px 25px 10px;
    width: 40%;
    color: white;
}
.browser-download-mobile-col {
    width: 20%;
    padding-left: 0;
}
.browser-info-mobile-col {
    padding: 5px 30px 5px 30px;
}